@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: transparent;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header-container {
    background-color: #45badd;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
}

.header-container .logo {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
}

.header-container .header-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.header-container .header-tabs li {
    margin: 0 10px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.header-container .header-tabs li a {
    margin: 0 10px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.header-container .header-tabs li a:hover {
    color: #57cbee;
}

.main-container {
    background-image: url(../images/icebergBG.png);
    background-repeat:no-repeat;
    background-size:cover;
    padding: 0px 100px 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: transitionIn 0.75s;
}

.nav-container ul {
    width: 100%;
    text-align: center;
}
  
.nav-container li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 25px;
    background-color: #57cbee;
    font-size: 10vh;
}
  
.nav-container li a:hover{
    background-color: #45badd;
    color: white;
}



.penguin-img {
    height:100vh; 
}

.nav-container li {
    margin: 20px;
}

.go-back {
    float: right;
}

.go-back li a {
    font-size: 3vh;   
}

